{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load render_bundle from webpack_loader %}
{% block title %}Update Leave Slip{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% include 'attendance/_attendance_data.html' %}
<script type="text/javascript">


  $(document).ready(() => {
    const action_description = $('#action_description');
    $("#id_TA").val({{default_transfer_ta.id}});

    $('.hidden-input').hide();

    let status = '';
    $('.modify-status').click((e) => {
      e.preventDefault();
      status = e.currentTarget.dataset.status;
      $('form').submit();
    });
    let clicked = false;
    $('.ta-sister-actions').click((e) => {
      setTimeout(function() {
       $('form').submit();
      }, 1000);
    });
    $('.dont-save-ta').click((e) => {
      $('#id_TA').val({{assigned_TA.id}});
      $('form').submit();
      setTimeout(function() {
        $('#id_TA').val({{default_transfer_ta.id}});
      }, 1500);
    });

    let redirect = $('#ajax-redirect').attr('href');
    $('form').on('submit', (e) => {
      {% block onsubmit %}{% endblock %}
      e.preventDefault();
      let form = $(e.currentTarget);
      let postData = form.serialize();
      if (status) {
        postData += "&status=" + status;
      }
      $.ajax({
        url: form.attr('action'),
        type: "POST",
        data: postData,
        success: (data) => {
          if (!status) {
            new Notification(Notification.SUCCESS, 'Saved').show();
            return;
          } else {
            // let msg = "{{leaveslip.requester_name}}'s {{verbose_name}} was {{leaveslip.get_status_for_message}}";
            // new Notification(Notification.SUCCESS, msg).show();
            window.location.href = redirect;
          }
        },
        error: (jXHR, textStatus, errorThrown) => {
          alert(errorThrown);
        }
      });
    });

    $(".delete-slip").click(function (e) {
      var check = confirm("Are you sure you want to delete this leaveslip?");
      if (check) {
        $.ajax({
          url: "/api/{{ leaveslip.classname }}slips/{{ leaveslip.id }}",
          type: "DELETE",
          success: function(data, status, jqXHR) {
            new Notification(Notification.SUCCESS, "Leave slip deleted!").show();
            window.location.href = redirect;
          },
          error: function(jqXHR, textStatus, errorThrown) {
            console.log("Slip delete error!");
            console.log(jqXHR, textStatus, errorThrown);
          }
        });
      }
    });
  });
</script>
{% endblock %}

{% block references %}
  {% render_bundle 'attendance' 'css' %}
{% endblock %}

{% block content %}
    <h2>TA {{leaveslip.classname|title}} Slip View</h2>
    <div class="col-md-5 col-xs-12">
      <p>Leaveslip ID: <a id="ajax-redirect" {% block ls_link %}{% endblock %}>{{leaveslip.id}}</a></p>
      {% include "leaveslips/_ta_labels.html" %}
      <form action="{{leaveslip.get_ta_update_url}}" method="post">
        {% csrf_token %}
        {% block trainee_display %}{% endblock %}
        {% bootstrap_form form %}
        <p>
          <a href="{% url 'leaveslips:ta_sister_actions' leaveslip.classname 'T' leaveslip.id %}" class="ta-sister-actions">
            <button type="button" class="btn-lg btn-primary btn-save">Transfer</button>
          </a>
          <button type="submit" class="btn-lg btn-primary btn-save dont-save-ta">Save</button>
        </p>
        {% include 'leaveslips/_ta_actions.html' with selected_ta=view.request.user detail=True %}
      </form>
    </div>
    <div class="col-md-7 col-xs-12">
      <div id="react-calendar-root"></div>
    </div>


  {% block leaveslip_script %}
  {% endblock %}

  {% render_bundle 'attendance' 'js' %}

{% endblock %}
